{# djlint:off H021,H025 #}
{# This file is based on the cerberus fluid template: https://github.com/TedGoas/Cerberus/blob/main/cerberus-fluid.html #}

<!-- 1 Column Text : BEGIN -->
<tr>
    <td style="background-color: #ffffff;" class="darkmode-bg">
        <table role="presentation"
               cellspacing="0"
               cellpadding="0"
               border="0"
               width="100%">
            <tr>
                <td style="padding: 20px;
                           font-family: sans-serif;
                           font-size: 15px;
                           line-height: 20px;
                           color: #555555">
                    {# djlint:on #}
