{% extends "checkin/base.html" %}
{% load django_bootstrap5 %}
{% load control_helpers %}
{% load i18n %}

{% block content %}
    <div class="clearfix">
        <h1 class="float-start">
            {% blocktrans with location_name=location.name %}Checkin for {{ location_name }}{% endblocktrans %}
        </h1>
        <div class="float-end align-middle">
            <a class="btn btn-secondary"
               href="{% url "checkin:event-overview" organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "Show all event locations" %}
            </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-3 d-flex align-items-stretch">
            <section class="card w-100">
                <div class="card-header">{% trans "Summary" %}</div>
                <div class="card-body">
                    <dl>
                        <dt>
                            {% trans "Participants checked in" %}
                        </dt>
                        <dd>
                            0/1
                        </dd>
                    </dl>
                </div>
            </section>
        </div>
        <div class="col mb-3 d-flex align-items-stretch">
            <section class="card w-100">
                <div class="card-header">{% trans "Event Details" %}</div>
                <div class="card-body">
                    <dl>
                        <dt>
                            {% trans "Event" %}
                        </dt>
                        <dd>
                            <a href="{% url "checkin:event-overview" organizer=request.event.organizer.slug event=request.event.slug %}">
                                {{ request.event.name }}
                            </a>
                        </dd>
                        <dt>
                            {% trans "Event Date" %}
                        </dt>
                        <dd>
                            {{ request.event.event_date }}
                        </dd>
                    </dl>
                </div>
            </section>
        </div>
    </div>

    <h2>{% trans "Participants" %}</h2>
    {% include "checkin/location/_participants_list.html" with participants=participants %}
{% endblock content %}
