{% extends "signup/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load markdownify %}

{% block content %}
    <h1>
        {% blocktrans with event_name=event.name %}Your sign up for "{{ event_name }}"{% endblocktrans %}
        {% can_change_event request.event as can_change %}
        {% if can_change %}
            <a class="btn btn-secondary"
               href="{% url "control:participant-details" organizer=request.event.organizer.slug event=request.event.slug code=participant.code %}">{% trans "Show in Control" %}</a>
        {% endif %}
    </h1>

    {# The banner(s) above the participant information informing them about the current state of their application and the next steps#}
    {% include "signup/fragments/status_banner.html" %}
 
    <div class="mb-3">{{ request.event.description | markdownify }}</div>
 
    <div class="row row-cols-1 row-cols-md-2">
        {# The contact information, i.e. email #}
        {% include "signup/fragments/contact_information.html" %}
        {# Their answers to the configurable questionnaire #}
        {% include "signup/fragments/participant_answers.html" with can_update=can_update %}
    </div>
{% endblock content %}
