{% extends "signup/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load presign_tags %}

{% block content %}
    <h1>
        {% blocktrans with event_name=request.event.name %}Change your sign up for "{{ event_name }}"{% endblocktrans %}
    </h1>
    <div class="mb-3">{{ request.event.description | markdownify }}</div>
 
    {% include "signup/fragments/contact_information.html" %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for form in forms %}
            <fieldset class="card mb-3">
                <legend class="card-header">
                    {{ form.form_title }}
                </legend>
                <div class="card-body">{% bootstrap_form form %}</div>
            </fieldset>
        {% endfor %}
        <button class="btn btn-primary btn-lg float-end" type="submit">{% trans "Submit" %}</button>
    </form>
{% endblock content %}
