{% load i18n %}
{% load presign_tags %}

{% if status_banner and status_banner.text %}
    <div class="last-p-mb-0 alert alert-{{ status_banner.type }}" role="alert">
        {{ status_banner.text | markdownify }}
        {% if messages %}
            {% for m in messages %}
            <hr />
            {{ m.message }}
            {% endfor %}
        {% endif %}
    </div>
{% elif messages %}
    <div class="alert alert-warning" role="alert">
        {% for m in messages %}
        <p class="mb-0">{{ m.message }}</p>
        {% endfor %}
    </div>
{% endif %}
